body {
	position: relative;
	margin: 0;
	background-color: #FFF;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

body *, input, input:focus { color: #BBB; }

input,
input:active,
input:focus {
	background-color: #333;
	color: #BBBBBB !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



::-webkit-input-placeholder { color: #BBB; } /* Chrome/Opera/Safari */
::-moz-placeholder { color: #BBB; } /* Firefox 19+ */
:-ms-input-placeholder { color: #BBB; } /* IE 10+ */
:-moz-placeholder { color: #BBB; } /* Firefox 18- */


#app {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

#app .inner {
	position: relative;
	width: 100%;
	height: 100%;
}

#app #search {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;

	max-width: 325px;
	width: 100%;
	border: none;

	/*-webkit-box-shadow: 0px 0px 10px 3px rgba(45, 45, 45, 0.2);
	-moz-box-shadow: 0px 0px 10px 3px rgba(45, 45, 45, 0.2);
	box-shadow: 0px 0px 10px 3px rgba(45, 45, 45, 0.2);*/
}

#app #search * {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
	          user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#app #search #search-form {
	width: 100%;
	height: 60px;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

#app #search #search-form > input {
	width: 225px;
    padding: 0 10px;
    height: 100%;
    border: none;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 500;
    color: #333;
}

#app #search #search-form > button {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	width: 80px;
	height: 100%;
	padding: 0;
	border: none;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 600;

	color: #FFF;
	background-color: #444; /* #6441a4 */
}

#app #search #search-form > button:hover {
	cursor: pointer;
	background-color: #7d5bbe;
}








#app #search #search-results {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;

	background: rgba(51, 51, 51, 0.5);
	background: linear-gradient(90deg, rgba(51, 51, 51, 1) 15%, rgba(0, 0, 0, 0) 100%);

	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style: none;
}

#app #search #search-results .search-results-item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	cursor: pointer !important;

	width: 100%;
	height: calc(((100vh - 60px) / 10) - 0px);
	background-color: rgba(51, 51, 51, 0.25);

	-webkit-transition: background-color .05s linear;
    transition: background-color .05s linear;
}

#app #search #search-results .search-results-item .item-image-container {
	height: 100%;
	width: auto;
}

#app #search #search-results .search-results-item .item-image-container > img {
	height: 100%;
	width: auto;
	object-fit: cover;
	object-position: center center;
}

#app #search #search-results .search-results-item .item-meta {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	padding: 0 0 0 0;
	margin: 0 10px 0 10px;
}

#app #search #search-results .search-results-item .item-meta p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	line-height: 12px;
}

#app #search #search-results .search-results-item .item-meta .meta-name {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 0 3px 0;
}

#app #search #search-results .search-results-item .item-meta .meta-status {
	font-size: 10px;
	font-weight: 400;
	line-height: 13px;
	margin: 0 0 3px 0;
}

#app #search #search-results .search-results-item .item-meta .meta-followers {
	font-size: 9px;
	font-weight: 900;
}





#app #search #search-results .search-results-item.active-channel {
	background-color: rgba(100, 65, 164, 0.75); /* #6441a4 */
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

#app #search #search-results .search-results-item.active-channel .item-meta p {
	color: #FFF;
	-webkit-transition: all .05s linear;
    transition: all .05s linear;
}












#app #stream-info {
	position: relative;

	margin: 0 0 0 325px;
	max-width: calc(100% - 325px);
	width: calc(100% - 30px);
	min-height: 100vh;

	padding: 0;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#app #stream-info .inner {
	max-height: calc(100vh - 230px);
    max-width: calc(100vw - 575px);
    height: 100vh;
    width: 100vw;

    background-color: rgba(51, 51, 51, 0.5);
    padding: 50px;
}

#app #stream-info h1#view-title {
	margin: 0;
}











